
body {
	background-image: linear-gradient(to right, #935d8c , #e37682);
	font-family: Space Grotesk;
}

nav {
	background-image: linear-gradient(to right, #935d8c , #e37682);
}

.navbar-brand {
	font-family: Monoton !important;
	font-size: 2.5rem !important;
	font-weight: 500 !important;
	line-height: 24px !important
}

#navbarNav a {
	color: black !important;
	margin-right: 5rem;
}

@media only screen and (min-width: 768px) {
#navbarNav a {
	border: solid;
	background-color: rgba(0,0,0,0.1);
}}

#landing {
	min-height: 100vh;
	background: 
		linear-gradient(
			rgba(237, 163, 186, 0.61),
			rgba(237, 163, 186, 0.61)
		),

		url("./images/banner.png");
		background-repeat: no-repeat;
		background-size: cover;
}

/*Texts on XS and S screens*/
@media only screen and (max-width: 767px) {
#landing h1 {
	font-size: 10vw !important;
	font-weight: 500 !important;
	line-height: 84px !important;
	text-align: center !important;
	color: black !important; 
}

#landing h2 {
	font-size: 5vw !important;
	font-weight: 500 !important;
	line-height: 84px !important;
	text-align: center !important;
	color: black !important; 
}

#landing p {
	font-size: 2vw !important;
	text-align: center !important;
	color: white !important; 
}

h3 {
	font-size: 10vw !important;
	font-weight: 500 !important;
	line-height: 84px !important;
	text-align: center !important;
	color: black !important;
	background-color: rgba(0,0,0,0.1);
}

h4 {
	font-size: 5vw !important;
	font-weight: 400 !important;
	line-height: 84px !important;
	text-align: center !important;
	color: black !important;
}
}

/*Texts from M screens Start*/
@media only screen and (min-width: 768px) {
#landing h1 {
	font-size: 7vw !important;
	font-weight: 500 !important;
	line-height: 84px !important;
	text-align: center !important;
	color: black !important; 
}

#landing h2 {
	font-size: 3vw !important;
	font-weight: 500 !important;
	line-height: 84px !important;
	text-align: center !important;
	color: black !important; 
}

#landing p {
	font-size: 1.5vw !important;
	text-align: center !important;
	color: white !important; 
}

h3 {
	font-size: 7vw !important;
	font-weight: 500 !important;
	line-height: 84px !important;
	text-align: center !important;
	color: black !important;
	background-color: rgba(0,0,0,0.1);
}

h4 {
	font-size: 3vw !important;
	font-weight: 400 !important;
	line-height: 84px !important;
	text-align: center !important;
	color: black !important;
}
}
/*Texts from M screens End*/

#aboutme {
  background-color: rgba(0,0,0,0.2);
  color: white;
}

/*Animation Start*/
#container-typed{
  display: inline-block;
  font-family: Space Grotesk;
}

.typed {
	overflow: hidden; 
  border-right: .15em solid hotpink; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
   animation-iteration-count: infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

#sectionheadings{
	display: inline-block;
  font-family: Space Grotesk;
}
/*Animation End*/

#projects {
	min-height: 100vh; 	
}

/*#projects h3 {
	font-size: 3rem !important;
	font-weight: 500 !important;
	line-height: 84px !important;
	text-align: center !important;
	color: black !important;
	border: solid;
	background-color: rgba(0,0,0,0.1);
}*/

.card:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#tools {
	min-height: 100vh; 	
}

/*#tools h1 {
	font-size: 3rem !important;
	font-weight: 500 !important;
	line-height: 84px !important;
	text-align: center !important;
	color: black !important;
	border: solid;
	background-color: rgba(0,0,0,0.1);
}*/

#tools img {
  width: 90%;
  height: auto;
}

#contact {
	min-height: 100vh; 	
}

/*#contact h1 {
	font-size: 3rem !important;
	font-weight: 500 !important;
	line-height: 84px !important;
	text-align: center !important;
	color: black !important;
	border: solid;
	background-color: rgba(0,0,0,0.1); 
}*/

#submitbutton {
	background-color: black;
  border: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}